
.container {
    width: min(88%, 75rem); /* se l'88% dello spazio è superiore a 75rem = 1200px lo centra */
    margin: 0 auto;
}


.wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .01rem;
    font-weight: bold;
}

ul.list {
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    align-items: center;
}

li.item{
    display: block;
}

li.item a {
    display: inline-block;
    padding: 0.7rem 0;
    color: inherit;
}

#app {
    min-height: 100dvh;
    display: grid;
    grid-auto-rows: auto 1fr auto;

}

.main {
    flex: 1;
}


.footer .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

ul.menu ul li a{
    padding: 0;
    text-decoration: none;

}

ul.menu > li > a {
    font-weight: bold;
    text-decoration: none;
    margin-bottom: -1rem;
}