.footer {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: end;
}


.attribution {
    font-size: 11px;
}


.attribution a {
    color: hsl(150, 100%, 66%);
}