.button {
    background-color: var(--orange);
    border: none;
    border-radius: 4px;
    padding: 16px 64px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-size: 18px;
}